.main-container {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6FA813), color-stop(10, #406843), color-stop(80, #6FA813), color-stop(100, #406843));
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
}

.background-image {
  background-image: url('../images/amchar_logo.png');
  height: 100%;
  background-repeat: inherit;
  margin-top: 125px;
  margin-left: 7%
}

.edit-icon {
  background-image: url('../images/edit.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 10%;
}
.log-sign {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 34px;
  position: absolute;
  top: 34%;
  left: 20%;
}

.log-sign-button {
  border: 1px solid white;
  width: 132%;
  background-color: transparent;
  margin-left: -41px;
  margin-top: 25px;
}

.error-message {
  text-align: center;
  color: red;
}

.form {
  padding: 20px;
}

.field {
  background: transparent;
  margin-top: 25px;
}

.button {
  background-color: #A5CB63;
  margin-left: 47%;
  width: 53%;
  margin-top: 3%;
}

.add {
  background-color: #A5CB63;
  margin-left: 17px;
  color: white;
}
.sign-out {
  border-radius: 50%;
  background-color: white;
  color: #699C2A;
  height: 40px;
  width: 40px;
  font-size: 11px;
  padding-top: 6px;
  padding-left: 10px;
  margin-top: 85px;
  position: absolute;
  right: 13px;
}
.profile-header {
  margin-top: 50px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  letter-spacing: 3px;
}

.profile-container {
  padding: 10px;
  color: #8BC34A;
  height: 100%;
  width: 100%;
  background-color: #F1F1F1;
  position: absolute;
}

.profile-image {
  background-image: url('../images/user.png');
  width: 120px;
  height: 120px;
  border: solid 4px white;
  background-size: cover;
}

.profile-details {
  color: black;
  text-decoration: underline;
  margin-left: 10px;
}

.black {
  color: black;
}

.green {
  color: #8BC34A;
}
.telephone {
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  background-image: url('../images/phone.png');
}

.email {
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  background-image: url('../images/email.png');
}

.website {
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  background-image: url('../images/website.png');
}

.specialities {
  display: flex;
  align-items: center;
 flex-direction: column;
}

input {
  -webkit-text-fill-color: white;
  -ms-input-placeholder { color: white;}
  -moz-placeholder { color: white; opacity: 1;}
}


@media screen and (min-width: 421px) {
  .button {
  margin-left: 0px;
  width: 20%;
}
  .log-sign {
    top: 20%;
    left: 13%;
  }
  .form{
    padding: 0px;
    width: 50%;
  }
  .edit-icon {
    margin-right: 40%
  }
  .sign-out {
    margin-right: 47%
  }
}
